<ul>
    <li><b>Prénom : </b> <%= user.firstName %></li>
    <li><b>Nom : </b> <%= user.lastName %></li>
    <li><b>Genre : </b> <%= user.gender %></li>
    <li><b>Email :</b> <a href="mailto:<%= user.email %>"><%= user.email %></a></li>
    <li><b>Type : </b> <%= user.type %></li>
    <li><b>Token Facebook : </b> <%= user.tokenFb %></li>
    <li><b>Facebook : </b> <a href="https://www.facebook.com/<%= user.facebookId %>" target="_blank"><%= user.facebookId %></a></li>
</ul>